<%= render "navmain/navmain" %>
<body class="editandnewform">
<h1>Making changes to the drink></h1>
<%= form_for @drink do |f| %>
    <% if @drink.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@drink.errors.count, "error") %> prohibited
        this drink from being saved:
      </h2>
      <ul>
        <% @drink.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
    <p>
        <%= f.label :Name %><br>
        <%= f.text_field :name %>
    </p>
    <p>
        <%= f.label :Drinkscription %><br>
        <%= f.text_field :description %>
    </p>
       <p>
      <%= f.label :Upload_image %>
      <%= f.file_field :drinkimage1 %>
    </p>
    <p><%= f.submit "Edit Changes" %></p>
    <% end %>
    <%= link_to 'Go Back', drinks_path %>
    </body>