<body class="drinksall">
<%= render "navmain/navmain" %>
<h1>Check out these awesome drinks shared by our fellow members</h1>
<% @drinks.each do |elem| %>
    <div class="eachdrink">
        <p>Name: <%= elem.name %></p>
        <%= image_tag elem.drinkimage1.url(:large) %>
        <p>Drinkscription: <%= elem.description %></p>
        <p>Posted by: <%= elem.user.username %>
        <%= image_tag elem.user.profileimage.url(:thumb) %>
        <%= link_to "Comments", drink_path(elem) %>
        <% if elem.user == current_user %>
        <%= link_to "Edit this drink", edit_drink_path(elem) %>
        <%= link_to "Delete", drink_path(elem),
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
        <% end %>
    </div>
    <% end %>
</body>
