<body class="<%= params[:action] %> ">
        <%= render "navmain/navmain" %><br>
        <div class="mainlandingdiv">
                <h1 class="greetingh1">Hello there, check out some drinks by some random people and share yours too</h1>
                <div class="landingdiv">
                        <%= link_to "Browse Drinks", controller: "drinks" %>
                        <%# link_to "Browse Drinks", drinks_path , this works instead of above "controllers: "drinks" too%>
                        <%= image_tag("maincocktailart.png") %>
                        <%= link_to "Share Your Drink", new_drink_path %>
                </div>
        </div>
        <div id="landingherodrink">
                <%= image_tag("landingherodrink.jpeg") %>
        </div>
        <%= render 'footermenu/footermenu' %>      
</body>


    